<% heading 'Dashboard' %>

<%# flash.now[:notice] = 'Successfully saved your changes.' %>
<%# flash.now[:error] = 'You cannot delete this page.' %>

<h3>Hello!</h3>
<p>
  Someday, this will contain lots of good stuff.  For now, it's
  just a blank... slate.
</p>
