<% heading do %>
  Sign in
<% end %>

<% head stylesheet_link_tag('login') %>

<% form_for_resource do |form| %>
  <table>
    <% form.default_template = 'row' %>
    <% form.label_append = ':' %>
    <%= form.text_field 'username', :size => 30 %>
    <%= form.password_field 'password', :size => 20 %>
    <%= form.check_box 'remember_me', :label => 'Remember me on this computer?' %>
    <%= form.submit 'Sign in', :label => nil %>
  </table>  
<% end %>