<% heading 'Sign In' %>

<% head stylesheet_link_tag('login') %>

<% form_for_resource do |form| %>
  <table>
    <% form.with_options(:template => 'row') do |f| %>
      <%= f.text_field 'username', :size => 30 %>
      <%= f.password_field 'password', :size => 20 %>
      <%= f.check_box 'remember_me', :label => 'Remember me on this computer?', :template => 'row' %>
      <%= f.submit 'Sign in', :label => false %>
    <% end %>  
  </table>  
<% end %>