<div class="b-notice">
You are viewing default content.  To edit this content, please go to the 
<%= link_to area.page.name, space_page_url(@space, area.page) %> page.  
Or, you may edit this content area to override the default content.
</div>