<% heading 'Themes' %>
<% toolbar_link glyph('add') + ' Install theme', new_theme_path() %>

<ul>
<% Theme.installed.each do |theme| %>
  <li><%= theme %> <%= link_to '(update)', refresh_theme_path(theme) %></li>
<% end %>  
</ul>

