body {
	color: #333;
/*  background: #e5e5e5;*/
  background: #fff;
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande", "Arial";
	font-size: 0.9em;
}

a:link {
  color: #339;
}
a:visited {
  color: #339;
}

#header {
	position: relative;
	background: #242424;
	padding: 10px 10px 0;
}
#header h1 {
  font-size: 1.8em;
  line-height: 1.5;
  color: #555;
  margin: 0;
}
#header h1 span.space {
  border-left: solid 1px #555;
  padding-left: 0.4em;
  margin-left: 0.4em;
}
#header h1 a {
  color: #fff;
  text-decoration: none;
}
#header h1 a:hover {
  text-decoration: underline;
}
#header div.hr {
  clear: both;
}
#header div.hr hr {
  display: none;
}
#header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#header ul#meta-nav {
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 1.5;
}
#header ul#meta-nav li {
  float: left;
}
#header ul#meta-nav li.separator {
  color: #555;
  margin: auto 4px;
}
#header ul#meta-nav li a {
  font-size: 0.95em;
  color: #fff;
  text-decoration: none;
}
#header ul#meta-nav li a:hover {
  text-decoration: underline;
}
#header ul#meta-nav input {
  font-size: 0.95em;
  padding: 0 3px;
}
#header h2#navigation {
  display: none;
}
#header ul#nav {
  padding-top: 5px;
  float: left;
}
#header ul#nav li {
  float: left;
}
#header ul#nav li a {
  font-size: 0.9em;
  text-decoration: none;
  background: #333;
  color: #fff;
  display: block;
  padding: 5px 8px 6px;
  margin-right: 2px;
}
#header ul#nav li a:hover {
  background: #555;
}
#header ul#nav li a.current {
  font-weight: bold;
  background: #F3F7FB;
  color: #036;
}

/** forms **/
div.field {
	margin-bottom: 5px;
}

div.actions {
/*  text-align: right;*/
  border-top: solid 1px #D0E8F7;
	padding: 10px;
	margin: 10px 0 0 0;
}

input.text {
  font: normal 14px "Lucida Grande", verdana;
  padding: 3px;
}
input.password {
  font: normal 14px "Lucida Grande", verdana;
  padding: 3px;
}
input.submit {
  font: normal 14px "Lucida Grande", verdana;
  padding: 3px;
}
input.button {
  font: normal 14px "Lucida Grande", verdana;
  padding: 3px;
}
input button {
  font: normal 14px "Lucida Grande", verdana;
  padding: 3px;
}
input.primary {
  font-size: 22px;
}

label {
	font: normal 14px "Lucida Grande", Helvetica, "Trebuchet MS";
	color: #444;
}
label span {
  color: #999;
  font-weight: normal;
}

/** footer **/
#footer {
	margin: 10px;
}

/** content **/
h1 {
  font-weight: normal;
}
h2 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
h4 {
  font-weight: normal;
}
h5 {
  font-weight: normal;
}
h6 {
  font-weight: normal;
}

h2 {
	font-size: 1.2em;
	margin: 0;
  background: #F3F7FB;
  border-bottom: solid 1px #D0E8F7;
  color: #036;
	padding: 10px 15px;
}
h2 span {
  color: #999;
}

img {
	border: none;
}

#body {
/*  margin: 10px;
  padding-right: 10px;
  background: #fff url(/images/columns.png) repeat-y top right;
*/
}
#body div.bottom {
  /*    margin-right: -10px;
  height: 25px;
  background: url(/images/columns-bottom.png) no-repeat top right;
  */	  display: none;
}


#content {
	padding: 15px;
}

ul#toolbar {
  background: #F9FBFD;
  border-bottom: solid 1px #D0E8F7;
  padding: 8px 10px;
  margin: 0;
  list-style: none;
}
ul#toolbar li {
  display: inline;
  padding: 3px 0;
  font: bold 0.85em Lucida Grande;
}
ul#toolbar li a {
  padding: 6px 8px;
  text-decoration: none;
  color: #036;
  border: solid 1px transparent;
}
ul#toolbar li a:hover {
  background: #F3F7FB;
  border-color: #D0E8F7;
}
ul#toolbar li.separator {
  color: #eee;
}

ul#pages {
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;
}
ul#pages li {
  padding-top: 5px;
}
ul#pages ul {
  list-style: none;
  margin-left: 0;
  padding-left: 20px;
}
ul#pages a {
  text-decoration: none;
}
ul#pages a:hover {
  text-decoration: underline;
}
ul#pages a.page {
  color: #000;
  font-weight: bold;
}
ul#pages span.actions a {
  font-size: 0.9em;
  color: #777;
}

img.glyph {
  vertical-align: text-bottom;
}
