div.b-area {
  border: solid 2px orange;
  padding: 0px;
  position: relative;
}
div.b-area div.b-toolbar {
  padding: 2px;
  margin:  1px;
  background: darkorange;
}
div.b-area div.b-toolbar table {
  width: 100%;
}
div.b-area div.b-toolbar table td {
  padding: 2px;
}
div.b-area div.b-toolbar img {
  border: none;
}
div.b-area div.b-toolbar {
  font: normal 12px Lucida Grande, Verdana;
  color: white;
}
div.b-area div.b-toolbar td {
  font: normal 12px Lucida Grande, Verdana;
  color: white;
}
div.b-area div.b-content {
  padding: 4px 6px;
}
div.b-area div.b-content em.b-empty {
  color: #777;
  font-size: 11px;
}

div.b-default div.b-area {
  border-color: purple;
}
div.b-default div.b-toolbar {
  background: purple;
}

div.b-u-default div.b-area {
  border-color: #777;
}
div.b-u-default div.b-toolbar {
  background: #777;
}

div.b-notice {
	background: #FFFFC1 url(/images/glyphs/information.png) no-repeat 5px 8px;
	color: #000;
	font: normal 11px Verdana;
	padding: 10px;
	padding-left: 25px;
	-moz-border-radius: 8px;
}
div.b-notice a {
  color: darkorange;
  font-weight: bold;
  padding: 3px 1px;
  text-decoration: none;
}
div.b-notice a:hover {
  background: darkorange;
  color: #fff;
}

div#b-toolbar {
  z-index: 3000;
	position: absolute;
	top: 0;
	left: 0;
	padding: 3px 0 0 0;
	text-indent: 3px;
	width: 100%;
	height: 21px;
	color: yellow;
	background: darkorange;
}
div#b-toolbar a {
  font: normal 12px Verdana;
  text-decoration: none;
  color: #fff;
  padding: 3px;
}
div#b-toolbar a:hover {
  background: purple;
}

html body {
	margin-top: 24px !important;
}
