#header {
	display: none;
}

#body {
  width: 470px;
  margin: 30px auto;
}
#footer {
  width: 470px;
  margin: 30px auto;
}

#body {
	background: #fff;
	padding: 0px;
	margin-top: 100px;
  border: solid 10px #ccc;
}
#body div.bottom {
  display: none;
}

h2 {
	background: none;
	color: #222;
}
h2.heading {
  background: #f5f5f5;
}

label {
  font-weight: bold;
}

td.input label {
  font-weight: normal;
  color: #777;
  font-size: 0.85em;
}

td.input {
  padding-left: 0;
}

p.tip {
  color: #777;
  margin: 0;
  font-size: 0.85em;
}

table {
  margin: 15px;
}

td.info {
  padding-right: 5px;
}

#session_username {
  margin-left: 3px;
}
#session_password {
  margin-left: 3px;
}
