# General Apache options
AddHandler fastcgi-script .fcgi
AddHandler cgi-script .cgi
Options +FollowSymLinks +ExecCGI
ErrorDocument 500 "<h2>Application error</h2>Rails application failed to start properly"

# RewriteEngine On
# 
# # RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^$ index.html [QSA]
# RewriteRule ^([^.]+)$ $1.html [QSA]
# 
# RewriteCond %{DOCUMENT_ROOT}/cache/%{HTTP_HOST}%{REQUEST_URI}.html -f
# RewriteRule ^(.*)$ /cache/%{HTTP_HOST}/$1 [L]

