  <td class="info">
    <%= label unless label.blank? %>
    <%= content_tag(:p, errors, :class => 'error') unless errors.blank? %>
    <%= content_tag(:p, tip, :class => 'tip') unless tip.blank? %>
  </td>
  <td class="input">
    <%= element %>
  </td>