html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	vertical-align: top;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* ERIC MEYER RESET END */

.clearfix { clear: both; }
.left { float: left; }
.right { float: right; }

body {
  background: #000;
  font-family: arial, sans-serif;
}
#container {
  width: 765px;
  margin: 10px auto;
  border: 3px solid #fff;
}
#hdr table,
#content table {
  width: 100%;
}
#hdr table td {
  border-bottom: 2px solid #fff;
}
td.donate {
  background: #FFCC33;
  text-align: center;
  padding: 10px 10px 45px 10px;
  border-right: 2px solid #fff;
}
td.donate a:link,
td.donate a:visited,
td.donate a:hover {
  color: #E67300;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}
td.menu {
  background: #000099;
  text-align: center;
  padding: 20px 10px 15px 10px;
}
td.menu a:link,
td.menu a:visited {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}
td.menu a:hover {
  text-decoration: underline;
}
td.pnotes,
td.main,
td.news {
  width: 33%;
  text-align: center;
}
td.pnotes {
  background: #000;
}
td.pnotes p {
  color: #ffcc33;
  font-size: 11px;
  margin-bottom: 15px;
}
td.pnotes h4 {
  color: #993300;
  margin: 15px 0;
  font-size: 16px; 
}
td.pnotes div.contact p {
  color: #fff;
  text-align: left;
  font-size: 14px;
  font-family: arial;
  margin: 20px 5px;
}
td.main {
  background: #fff;
  font-family: times;
  font-size: 13px;
  color: #336699;
}
td.main p {
  line-height: 140%;
}
td.main p.msg {
  font-size: 15px;
  margin: 15px 25px;
}
td.main span.big {
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}
td.main h3 {
  color: #ffcc33;
  font-size: 17px;
  margin: 12px 0;
  font-family: arial;
}
td.main p {
  margin-bottom: 15px;
}
td.main p strong {
  font-weight: bold;
  font-size: 17px;
}
td.news {
  background: #ffcc33;
  padding: 20px;
  color: #993300;
  text-align: left;
}
td.news img {
  margin: 0 0 20px 15px;
}
td.news p {
  font-size: 11px;
  margin-bottom: 15px;
}
td.news h4 {
  font-style: italic;
  font-size: 16px;
  font-family: times;
  font-weight: bold;
  margin: 15px 0;
}
td.sidebar {
  background: #000099;
  width: 218px;
}
td.sidebar ul {
  color: #33CC00;
  text-align: center;
  margin: 12px 0;
}
td.sidebar h3 {
  color: #33CC00;
  margin: 10px 0 10px 20px;
  font-weight: bold;
  font-size: 18px;
}
td.sidebar p {
  color: #fff;
  margin: 0 20px 15px 20px;
  font-size: 14px;
  line-height: 130%;
}
td.sidebar ul li {
  margin: 10px 0;
}
td.content {
  background: #fff;
  padding: 30px 50px;
}
td.content h3 {
  color: #336699;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  font-family: times;
}
td.content p {
  font-size: 15px;
  color: #222;
  line-height: 130%;
  margin-bottom: 25px;
}
td.content .caps {
  color: #000099;
}
td.content .upcoming {
  background: #ffcc00;
  padding: 25px;
  margin: 0 -50px -30px -50px;
}
td.content .upcoming p {
  color: #CC6600;
}
td.content .upcoming h3,
td.content .upcoming h4 {
  font-size: 20px;
  color: #cc6600;
  font-weight: bold;
  margin: 5px 0 15px 0;
  font-family: times;
  text-align: left;
}
td.content .upcoming h4 {
  font-size: 17px;
}
body .b-toolbar td {
  text-align: left;
}
body .b-toolbar img {
  margin: 0;
  float: right;
}